

<footer class="bg-[#101828] text-white mt-10 ">
    <div class="mx-auto w-full max-w-screen-xl">
      <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
        <div>
            <h2 class="mb-6 text-sm font-semibold text-heading uppercase">Company</h2>
            <ul class="text-body font-medium">
                <li class="mb-4">
                    <a href="/about" class=" hover:underline">About</a>
                </li>
                <li class="mb-4">
                    <a href="/Caeers" class="hover:underline">Careers</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-semibold text-heading uppercase">Help center</h2>
            <ul class="text-body font-medium">
                <li class="mb-4">
                    <a href="/contact" class="hover:underline">Contact Us</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-semibold text-heading uppercase">Legal</h2>
            <ul class="text-body font-medium">
                <li class="mb-4">
                    <a href="/politicas/privacidad" class="hover:underline">Politica de Privacidad</a>
                </li>
                <li class="mb-4">
                    <a href="/politicas/adhecion" class="hover:underline">Terminos &amp; Condiciones</a>
                </li>
                <li class="mb-4">
                    <a href="/politicas/arco" class="hover:underline">ARCO</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="px-4 py-6 bg-neutral-secondary-soft md:flex md:items-center md:justify-between">
        <span class="text-sm text-body sm:text-center">© 2025 <a href="/">Z-LABS S. de R.L. de C.V.</a>. Todos los derechos reservados.
        </span>
      </div>
    </div>
</footer>
